@{
    ViewData["Title"] = "About MapMyPath";
}
<div class="privicy">
    <h1>@ViewData["Title"]</h1>

    <p class="shadow p-3 mb-5 bg-white rounded p-5 m-5">
        Welcome to MapMyPath, the ultimate guide for tourists visiting a new city. Our web app and mobile app are designed to help you find your way around a new city and make the most of your visit. <br />
        <br />
        With our app, you can access general information about the city, including its history, culture, and top attractions. You can also find routes to your destination, as well as explore the city on your own with the help of integrated Google Maps.<br />
        <br />
        Our app also features recommendations for the best cafes and restaurants in the city, so you can enjoy the local cuisine and discover new places to dine. With live feeds from cameras around the city, you can stay up-to-date on the latest happenings and see what the city looks like in real-time.<br /><br />

        For those who want to know what to wear before stepping outside, our app provides advice on what to wear based on the weather conditions in the city. With accurate and up-to-date weather information, you can plan your activities accordingly.<br /><br />

        We understand that visiting a new city can be overwhelming, which is why our app provides helpful tips and advice on how to make the most of your visit. Our goal is to ensure that you have a great experience and make lasting memories in the city.<br /><br />

        Whether you're a solo traveler or traveling with friends and family, our app is designed to meet your needs and help you have an unforgettable trip.<br /><br /><strong>So, what are you waiting for? Download MapMyPath today and start exploring your new destination!</strong>
    </p>
    </div>