@{
    ViewData["Title"] = "Discover";

}

<link rel="stylesheet" href="~/wwwroot/css/images/main.css" asp-append-version="true" />
<script src="~/js/site.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Discover</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>
<div id="bg-feed">
    </div>
<body id="feed-bod" style="padding-bottom:50px">
    <div id="video-gal" class="container">
        <div class="textbox">
<h2>Discover Zagreb</h2>
            <p style="text-align: justify">
                Welcome to Zagreb, a city full of rich history and captivating landmarks! We are delighted to present to you four carefully curated routes that offer the best way to explore and discover the wonders of Zagreb.
            Each route is thoughtfully designed to ensure you experience the essence of this beautiful city and its monumental destinations. Allow us to guide you through the heart of Zagreb with these unforgettable routes, 
            tailored to suit your preferences and time constraints.</p>
            <div class="parentRoute">

            <div id="Route1"> @Html.Partial("PartialRoute")</div>
            <div id="Route2"> @Html.Partial("PartialRoute1")</div>
            <div id="Route3"> @Html.Partial("PartialRoute2")</div>
            <div id="Route4"> @Html.Partial("PartialRoute3")</div>
               
            </div>
           
           
              

            </div>
                  
</body>

