@{
    ViewData["Title"] = "Live Feed";
}

<link rel="stylesheet" href="~/wwwroot/css/images/main.css" asp-append-version="true" />
<!DOCTYPE html>
<html>
  <head>
    <title>Live Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
 <div id="bg-feed">
   
</div>

 <body id="feed-bod"> 
    <div id="video-gal" class="container" >
      <h1 class="text-center">Zagreb Cam Feed</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
          <a name="windy-webcam-timelapse-player" data-id="1600892713" data-play="day" href="https://windy.com/webcams/1600892713" target="_blank">City of Zagreb: Zagreb - Ban Jelačić - Hotel Dubrovnik</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>  
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
            <a name="windy-webcam-timelapse-player" data-id="1384996057" data-play="day" href="https://windy.com/webcams/1384996057" target="_blank">Zagreb: Funicular</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
            <a name="windy-webcam-timelapse-player" data-id="1458159983" data-play="day" href="https://windy.com/webcams/1458159983" target="_blank">Zagreb: Panorama view, Vrapce</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>            </div>
          </div>
        </div>
      </div>
        <div class="row">
            <p class="m-2 subtext">Get up-to-the-minute info on events, attractions, and hotspots from locals and travelers. Share your experiences and discover new favorites.</p>
        </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
            <a name="windy-webcam-timelapse-player" data-id="1261218491" data-play="day" href="https://windy.com/webcams/1261218491" target="_blank">Zagreb: Gric</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
            <a name="windy-webcam-timelapse-player" data-id="1645012865" data-play="day" href="https://windy.com/webcams/1645012865" target="_blank">Zagreb › East: Gornja Dubrava</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>          </div>
        </div>
         </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
            <a name="windy-webcam-timelapse-player" data-id="1413577503" data-play="day" href="https://windy.com/webcams/1413577503" target="_blank">Podnedjelscak: Zagreb Camp - Lake Rakitje</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>        </div>
      </div>
   
     </div>
     </div>
       <div class="row">
        <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=45.791&lon=15.983&detailLat=43.510&detailLon=16.441&width=650&height=450&zoom=11&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=true&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>
       </div>
    
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
