
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1 class="text-center">The Green Escape</h1>
<div class="row">
    <div class="cont">
        <progress id="nprogress-bar2" value="0" max="100"></progress>
        <div id="step2">
            <span class="first border-change"><i class="fa fa-flask"></i></span>
            <span class="second"><i class="fa fa-paint-brush"></i></span>
            <span class="third"><i class="fa fa-code"></i></span>
            <span class="fourth"><i class="fa fa-rocket"></i></span>
        </div>


        <div class="row">
            <div id="first2">
                <h2>
                    Maksimir Park
                </h2>
                <p>Discover the enchanting oasis of Maksimir Park, where lush greenery and winding paths beckon you to explore. Whether you're strolling through the majestic oak forest, admiring the vibrant colors of the flowerbeds, or picnicking by the picturesque lakes, this park offers a peaceful escape from the bustling city. Take a moment to breathe in the fresh air, spot some wildlife, and recharge your batteries in this natural haven.</p>
            </div>
            <div id="second2">
                <h2>
                    Botanical Garden
                </h2>
                <p>Immerse yourself in the beauty of nature at the Botanical Garden, a captivating sanctuary for plant lovers and curious souls alike. With its extensive collection of exotic flowers, rare trees, and carefully manicured landscapes, this botanical paradise offers a delightful sensory experience. Take a leisurely walk through themed gardens, learn about different plant species, or simply find a serene spot to unwind amidst the colorful blooms. Let the Botanical Garden ignite your imagination and leave you with a renewed appreciation for the wonders of the plant world.</p>
            </div>
            <div id="third2">
                <h2>
                    Jarun Lake
                </h2>
                <p>Escape the urban hustle and bustle and head to the stunning Jarun Lake, a true haven for outdoor enthusiasts. Nestled amidst verdant surroundings, this tranquil lake offers a range of activities for everyone. Whether you prefer kayaking, paddleboarding, or simply lounging on the sandy beach, Jarun Lake has it all. Embrace the breathtaking views, soak up the sun, and relish the sense of freedom that this aquatic paradise provides. Get ready to create unforgettable memories by the water's edge.</p> </div>
            <div id="fourth2">
                <h2>
                    Zrinjevac Park
                </h2><p>
                    Step into the heart of Zagreb's elegance at Zrinjevac Park, where history and beauty intertwine. Adorned with charming fountains, picturesque flowerbeds, and majestic plane trees, this park exudes an air of serenity and sophistication. Relax on one of the park benches, savoring the melody of live music that often graces the park's bandstand, or enjoy a leisurely stroll along the promenade. Zrinjevac Park is the perfect spot to escape the city's hustle, indulge in some people-watching, and find respite in its tranquil ambiance.
                </p> 
                </div>
        </div>
        </div>
        </div>

            <script>
            $('#first2').show();
            $('#second2').hide();
            $('#third2').hide();
            $('#fourth2').hide();
            $('span').click(function () {
                if ($(this).hasClass('first')) {
                    $('#nprogress-bar2').val('0');
                    $(this).nextAll().removeClass('border-change');
                    //$('.percent').html("0% Complete");
                    $('#first2').show();
                    $('#second2').hide();
                    $('#third2').hide();
                    $('#fourth2').hide();
                } else if ($(this).hasClass('second')) {
                    $(this).nextAll().removeClass('border-change');
                    $('#nprogress-bar2').val('34');
                    $(this).prevAll().addClass('border-change');
                    $(this).addClass('border-change');
                    //$('.percent').html("33% Complete");
                    $('#second2').show();
                    $('#first2').hide();
                    $('#third2').hide();
                    $('#fourth2').hide();
                } else if ($(this).hasClass('third')) {
                    $(this).nextAll().removeClass('border-change');
                    $('#nprogress-bar2').val('67');
                    $(this).prevAll().addClass('border-change');
                    $(this).addClass('border-change');
                    //$('.percent').html("66% Complete");
                    $('#second2').hide();
                    $('#first2').hide();
                    $('#fourth2').hide();
                    $('#third2').show();
                } else {
                    $('#nprogress-bar2').val('100');
                    $(this).addClass('border-change');
                    $(this).prevAll().addClass('border-change');
                    //$('.percent').html("100% Complete");
                    $('#third2').hide();
                    $('#first2').hide();
                    $('#fourth2').show();
                }
            });
            </script>