
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1 class="text-center">Vibrant Nights</h1>
<div class="row">
    <div class="cont">
        <progress id="nprogress-bar3" value="0" max="100"></progress>
        <div id="step3">
            <span class="first border-change"><i class="fa fa-flask"></i></span>
            <span class="second"><i class="fa fa-paint-brush"></i></span>
            <span class="third"><i class="fa fa-code"></i></span>
            <span class="fourth"><i class="fa fa-rocket"></i></span>
        </div>


        <div class="row">
            <div id="first3">
                <h2>Tkalčićeva Street</h2>
                <p>When the sun sets, Tkalciceva Street comes alive with a vibrant nightlife scene that caters to all tastes and preferences. Whether you're in the mood for a trendy cocktail bar, a cozy pub, or a bustling nightclub, this lively street has it all. Join the energetic crowds as you hop from one establishment to another, enjoying live music, sampling local craft beers, and indulging in delicious cuisine. Tkalciceva Street is the perfect place to dance the night away, make new friends, and create lasting memories in the heart of the city.

</p>
            </div>
            <div id="second3">
                <h2>Hemingway Lounge Bar</h2>
                <p>ort you to a bygone era. With its vintage decor, live music, and extensive cocktail menu, this bar is a haven for those seeking a memorable night out. Sip on handcrafted cocktails, engage in lively conversations, and immerse yourself in the vibrant atmosphere that Hemingway Lounge Bar effortlessly creates. Prepare for an unforgettable night filled with laughter, good company, and a touch of old-world charm.</p></div>
            <div id="third3">
                <h2> Vinyl Bar</h2>
                <p>Embrace the retro vibes at Vinyl Bar, a haven for music enthusiasts and lovers of vintage style. As you step inside, you'll be greeted by the warm glow of Edison bulbs, walls adorned with classic album covers, and the nostalgic sound of vinyl records spinning on turntables. Savor a wide selection of craft beers, signature cocktails, and artisanal spirits while engaging in conversations about music and sharing your favorite tracks. Whether you're a vinyl aficionado or simply appreciate the unique ambiance, Vinyl Bar promises an unforgettable night filled with good tunes and great vibes.</p>
</div>
            <div id="fourth3">
                <h2>Jarun Lake</h2>
                <p>When the sun goes down, Jarun Lake transforms into a buzzing hub of nighttime activities. Dive into the vibrant nightlife scene as you explore a variety of bars, clubs, and live music venues that surround the lake. Dance to the beats of renowned DJs, sip on refreshing cocktails at lakeside bars, or enjoy live performances under the starry sky. Whether you're looking for a laid-back evening by the water or an energetic night of partying, Jarun Lake offers an exciting nightlife experience that caters to every taste. Get ready for a night of unforgettable fun and endless possibilities.</p>
            </div>
        </div>
        </div>

            <script>
            $('#first3').show();
            $('#second3').hide();
            $('#third3').hide();
            $('#fourth3').hide();
            $('span').click(function () {
                if ($(this).hasClass('first')) {
                    $('#nprogress-bar3').val('0');
                    $(this).nextAll().removeClass('border-change');
                    //$('.percent').html("0% Complete");
                    $('#first3').show();
                    $('#second3').hide();
                    $('#third3').hide();
                    $('#fourth3').hide();
                } else if ($(this).hasClass('second')) {
                    $(this).nextAll().removeClass('border-change');
                    $('#nprogress-bar3').val('34');
                    $(this).prevAll().addClass('border-change');
                    $(this).addClass('border-change');
                    //$('.percent').html("33% Complete");
                    $('#second3').show();
                    $('#first3').hide();
                    $('#third3').hide();
                    $('#fourth3').hide();
                } else if ($(this).hasClass('third')) {
                    $(this).nextAll().removeClass('border-change');
                    $('#nprogress-bar3').val('67');
                    $(this).prevAll().addClass('border-change');
                    $(this).addClass('border-change');
                    //$('.percent').html("66% Complete");
                    $('#second3').hide();
                    $('#first3').hide();
                    $('#fourth3').hide();
                    $('#third3').show();
                } else {
                    $('#nprogress-bar3').val('100');
                    $(this).addClass('border-change');
                    $(this).prevAll().addClass('border-change');
                    //$('.percent').html("100% Complete");
                    $('#third3').hide();
                    $('#first3').hide();
                    $('#fourth3').show();
                }
            });
            </script>