@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privicy">
<h1>@ViewData["Title"]</h1>

    <p class="shadow p-3 mb-5 bg-white rounded m-5 p-5">
        At MapMyPath, we take your privacy very seriously. We are committed to protecting your personal data and ensuring that you have control over how it is used. <br /><br />

        When you use our website or mobile application, we may collect certain types of information from you, including personal data. This information may include your name, email address, phone number, and other information that you provide to us.<br /><br />

        We may also collect information about your browsing behavior and preferences through the use of cookies and similar technologies. This information helps us to improve your experience and provide you with personalized content.<br /><br />

        We use the information we collect to provide and improve our services, personalize your experience, and communicate with you. We may share your personal data with third-party service providers, such as payment processors or analytics providers, to help us provide and improve our services. However, we will only share your personal data with third-party service providers who agree to protect your personal data and use it only for the purposes for which we have contracted them.<br /><br />

        We take reasonable measures to protect your personal data from unauthorized access, disclosure, or destruction. You have the right to access, rectify, or erase your personal data that we hold. You also have the right to restrict or object to the processing of your personal data in certain circumstances. You may withdraw your consent to the processing of your personal data at any time.<br /><br />

        We will retain your personal data for as long as necessary to provide our services or as required by law. We may transfer your personal data to countries outside the European Economic Area that do not offer the same level of data protection. However, we will only transfer your personal data to such countries if we have put in place appropriate safeguards.<br /><br />

        Our website may contain links to third-party websites or services that are not controlled or operated by us. We are not responsible for the privacy practices of such third-party websites or services. We encourage you to review the privacy policies of those third-party websites or services.<br /><br />

    By using our website or mobile application, you acknowledge that you have read and understood this Privacy Policy and agree to its terms. If you have any questions or concerns about our privacy policy, please do not hesitate to contact us.
</p>
</div>