@{
    ViewData["Title"] = "Routes";
}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Wyv8ha4LLUyDD9sPdtb7svNEl1LeMlw&callback=initMap">
</script>

<div class="container" id="mapsContainer">
<div id="map"></div>

</div>



<script src="~/js/routes.js"></script>

