@{
    ViewData["Title"] = "Routes";
   
}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Wyv8ha4LLUyDD9sPdtb7svNEl1LeMlw&libraries=places&callback=initMap">
</script>
<head>
    <link rel="stylesheet" href="~/css/weather.css" asp-append-version="true" />
</head>
<div id="bg-feed"></div>
<div class="container" id="mapsContainer" >
    <div id="map"></div>
    <div id="renderRoute">
        <span>Once you've selected all your destinations, click here:</span>
        <button  id="btnRender">Render route</button>
        <span>or:</span>
        <button  id="btnRefresh">Refresh</button>

    </div>
</div>
<div id="video-gal" class="container">
    <table id="tablica" class="table">
        <tr>
            <td >City name:</td>
            <td id="cityName"> </td>
        </tr>
        <tr>
            <td>Pick-up point:</td>
            <td id="pickup"> </td>
        </tr>
        <tr>
            <td>Drop-off point:</td>
            <td id="dropoff"> </td>
        </tr>
        <tr>
            <td>Duration:</td>
            <td id="duration"> </td>
        </tr>
        <tr>
            <td>Distance:</td>
            <td id="distance"> </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td id="fare"> </td>
        </tr>
    </table>
</div>

<script src="~/js/routes.js"></script>


