@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.card-body-f {
    border-style: solid;
    width: 100%;
    margin-right: 0;
    overflow: hidden;
    background-color: #334870;
    box-shadow: -6px -4px 18px -3px #344870;
}
.title-cam-feed{
font-weight:700;
text-align:center;
}
.text-cam-feed{
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left:3%;
    font-size:1.5rem;
    
}
#video-gal.container {
    margin-top: 10%;
    z-index: 1;
    position: relative;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: hidden;
    overflow: hidden;
    border-radius: 25px;
    padding: 30px;
    color: #334870;
    box-shadow: -6px -4px 18px -3px #344870;
    font-family: 'Montserrat', sans-serif;
    min-height:100vh;
  
}

#weather-icon.container {
    
    margin-top: 2.5%;
    z-index: 1;
    position: relative;
    background-color: #344870;
    overflow-y: hidden;
    border-radius: 25px;
    padding: 30px;
    outline: 2px solid #CCC;
    border: 2px solid #999;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#bg-feed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-image: url("../images/zagreb1.jpg");
    background-attachment: fixed;
    background-size: auto;
    opacity: 0.2;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.6;
}

.position-text {
    margin-top: 14%;
    margin-left: 13%;
    color: #334870;
    z-index: 10;
    position: absolute;
}

.subtext {
    font-size: 2vw;
}

.display {
    font-weight: 300;
    font-size: 4vw;
}

.mycontainer {
    display: flex;
    flex-direction: column;
}

.box {
    height: 100vh;
}

.slideshow-container {
    max-width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}


    .mySlides img {
        min-width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background-size: cover;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .mySlides::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate(360deg) scale(1) skew(-12deg) translate(-7px,0px);
        -webkit-transform: rotate(360deg) scale(1) skew(-12deg) translate(-7px,0px);
        -moz-transform: rotate(360deg) scale(1) skew(-12deg) translate(-7px,0px);
        width: 100%;
        height: 100%;
        background-color: #334870;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    .mySlides:hover::before {
        opacity: 0.9;
    }

.slideshow-container:hover .middle {
    opacity: 1;
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 70%;
    z-index: 2;
    transform: rotate(360deg) scale(0.9) skew(1deg) translate(-7px,0px);
    -webkit-transform: rotate(360deg) scale(0.9) skew(1deg) translate(-7px,0px);
    -moz-transform: rotate(360deg) scale(0.9) skew(1deg) translate(-7px,0px);
    text-align: center;
}

.button {
    border: hidden;
    border-radius: 10px 10px 10px 10px;
    background-color: #334870;
    color: white;
    font-size: 1vw;
    padding: 10px 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
}

    .button:hover {
        color: #334870;
        background-color: white;
        transition: 1000ms;
        padding: 10px 50px;
        transform: translateY(-0px);
        border: solid 2px #0066cc;
    }

.button-hidden {
    display: none;
}

.text {
    font-weight: 300;
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.8px;
    word-spacing: 1.4px;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1000;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: #334870;
    }

.fade-custom {
    animation-name: fade;
    animation-duration: 2s;
}



.textbox{
    text-align:center;
    width:60%;
    margin:auto;
}
.textbox p{
    margin:7% 10px 7% 10px;
    font-size:1.2rem;
}
.textbox h2{
    font-weight:700;
}




.text-center {
    text-align: center;
    color: #CCC;
}

.cont {
    height: 100%;
    left: calc(50% - 350px);
    padding: 0;
    margin: 40px auto;
    position: absolute;
}

#nprogress-bar {
    -webkit-appearance: none;
    width: 700px;
    color: #CCC;
    height: 2px;
    margin: 0 auto;
    position: relative;
    left:-18%;
}

#first, #second, #third, #fourth {
    margin: 0px;
}

#step span {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 3px solid #CCC;
    background: #CCCCCC;
    position: absolute;
    left: 0;
    color: #ffffff;
    top: -30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#step {
    height: 100px;
    width: 100%;
}

    #step span i {
        padding: 20px;
        text-align: center;
        font-size: 40px;
    }

    #step .first {
        left: -23px;
    }


    #step .second {
        left: 200px;
    }

    #step .third {
        left: 420px;
    }

    #step .fourth {
        left: 640px;
    }

.detail {
    position: relative;
}

#nprogress-bar::-webkit-progress-value { /* Changes line color */
    background: #334870;
    transition: all 0.4s ease-in-out;
}

#nprogress-bar::-webkit-progress-bar { /* Changes background color */
    background: #CCC;
}

#step .border-change {
    border-color: #334870;
    background: #334870;
    transition: all 0.4s ease-in-out;
}

#first h2, #second h2, #third h2, #fourth h2{
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    position:relative;
    left: -18%;
}



@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.fake-button {
   z-index:22;
   position:relative;
    background-color: #334870;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-top:-15%;
    margin-left:45%;
    width:10%;

}

.picture-container{
    border-radius:50%;
    max-width:350px;
    max-height:350px;
    min-width:200px;
    min-height:200px;
}
.profile-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #ccc;
    width: 30%;
    margin-bottom: 100px;
}

.profile-image img {
    margin-top:10%;
    min-width:50%;
    border-radius:50%;
 }

.profile-form {
    min-width:50%;    
}
.title {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}
.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
 }
.btn-color-red{
    color:red !important;
}


@media screen and (max-width: 780px) {
    .position-text {
        margin-top: 60%;
        margin-left: 7%;
        color: #334870;
        z-index: 10;
        position: absolute;
    }

    .display {
        font-weight: 300;
        font-size: 10vw;
    }

    .subtext {
        font-size: 6vw;
    }

    .middle {
        width: 30%;
        margin-top: 30%;
        margin-left: -10%;
        text-align: center;
        overflow: hidden;
    }

    .mySlides img {
        object-fit: cover;
        overflow: hidden;
    }

    .text {
        font-size: 3vw;
    }

    .button {
        display: none;
    }

    .button-hidden {
        display: block;
        margin: auto;
        border: hidden;
        border-radius: 10px 10px 10px 10px;
        background-color: #334870;
        color: white;
        font-size: 4vw;
        padding: 15%;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
        border-radius: 50px;
        transition: 1000ms;
        transform: translateY(0);
    }

        .button-hidden:hover {
            transition: 1000ms;
            padding: 10%;
            transform: translateY(-0px);
            color: #334870;
            background-color: white;
            border: solid 2px #0066cc;
        }

    .slideshow-container:hover::before .middle {
        opacity: 0.8;
    }

    #video-gal.container{
        display:flex;
        flex-direction:column;
    }
  
}