@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#menuToggle{
    display:none;
}
nav ul {
    margin-top: -2px;
    display: flex;
    align-items: center;
    background: #334870;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
 
}
a:hover{
color:peachpuff !important;
}
a{
    text-decoration:none !important;
}
.navli-l0 {
    list-style: none;
    position: relative;
    left: 3%;
    margin:auto;
}
    
.navli-l0 img {
        border: 4px solid #334870;
        border-radius: 50%;
}

.navli-l1 {
    list-style: none;
    padding-right: 2rem;
    text-align: center;
}


 li a {
     color: white;
     display: inline-block;
     margin: 0 1rem;
     text-decoration: none;
 }


.footer {
    position: fixed !important;
    text-decoration:none !important;
    display: flex;
    color: white;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background: #334870;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    z-index: 100;
}
.privicy h1{
    margin-top: 130px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.privicy p {
 
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}


/* profile menu */

.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

    .profile h5 {
        color:white;
        text-align: end;
        line-height: 1;
        margin-bottom: -15px;
        font-weight: 400;
        text-decoration: none;
        list-style-type:none;
    }

    .profile p {
        line-height: 1;
        font-size: 14px;
        opacity: .6;
    }

    .profile .img-box {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
    }

        .profile .img-box img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

/* menu (the right one) */

.menu {
    position: absolute;
    top: calc(100% + 24px);
    right: 16px;
    width: 130px;
    text-align:center;
    min-height: 150px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
}

    .menu::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 14px;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
        z-index: -1;
    }

    .menu.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    /* menu links */

    .menu ul {
        position: relative;
     
        display: flex;
        flex-direction: column;
        z-index: 100000;
        background: #fff;
    }

        .menu ul li {
            list-style: none;
        }

            .menu ul li:hover {
                background: #eee;
            }

            .menu ul li a {
                text-decoration: none;
                color: #000;
                display: flex;
                align-items: center;
                padding: 10px 25px 10px 10px;
                margin-right:50px;
               
            }

                .menu ul li a i {
                    font-size: 0.5rem;
                }




@media screen and (max-width: 780px) {
    nav ul{
        display:none;
    }
    .footer {
     
        display:none;
    }
    #menuToggle {
        position:absolute;
        display: block;
        margin-top: 10px;
        z-index: 3;
    }

    #menuToggle a {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }

     #menuToggle a:hover {
        color: peachpuff;
      }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; 
        z-index: 5; 

        -webkit-touch-callout: none;
    }

    #menuToggle span {
            display: block;
            width: 33px;
            height: 4px;
            margin-left:10px;
            margin-bottom: 5px;
            position: relative;
            background: #334870;
            border-radius: 3px;
            z-index: 3;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
        }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 0.5;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


     #menu {
        position: absolute;
        display:block;
        text-align:center;
        width: 430px;
        height:300px;
        margin: -90px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #334870;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        z-index:2;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

     #menu li {
            padding: 10px 0;
            font-size: 22px;
     }

  
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}