#mapsContainer {
    display: flex;
    max-width: 100%;
    justify-content:center;
    margin-top:20vh;

}

#map {
    position: relative !important;
    width: 70% !important;
    height: 70vh !important;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    border-radius: 15px !important;
}
