html {
    font-size: 14px;
    margin: 0px;
    min-height: 100vh;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}